.sitewrapper {
  transition: transform 0.4s;
  z-index: 2;

  &.openNav {
    transform: translateX(-85%);
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

.img-bg {
  @apply flex justify-center items-center w-full;

  min-height: 150px;
  background-size: cover;
  background-position: center;

  h1 {
    text-shadow: 0 0 30px #111;
    opacity: 0;
  }
}

.news_section_continued {
  .img-block {
    order: -1;
  }
}

#contactSection {
  .content-info {
    border-bottom: none;
    padding: 0;
  }
}

.accordions .accordions-head {
  border: 2px solid #372e2c !important;
  margin-bottom: 4px !important;
}

.accordions .accordion-icons {
  color: #372e2c;
}

.trio-box {
  @apply text-center items-stretch flex flex-wrap flex-col mb-10;

  p {
    @apply text-black w-full mx-auto flex-grow;
  }

  .btn {
    opacity: 0;
  }
}

.accordion-content {
  h2 {
    font-size: 1.5rem;
  }

  a[href$=".pdf"] {
    @apply btn inline-block mt-5 text-white bg-primary;

    font-size: 1.25em;
    border: 2px solid darken($primary, 0.1);
    font-family: "benton-sans-condensed", "Helvetica Neue", sans-serif;

    &:hover {
      color: $primary;
      background-color: white;
      border-color: $primary;
    }
  }
}

.full-section {
  @apply py-8;

  min-height: 300px;

  h2 {
    @apply text-center text-5xl text-primary relative inline-block mx-auto;

    span {
      @apply relative;

      z-index: 20;
      font-family: benton-sans-condensed, sans-serif;
    }
  }

  h3 {
    font-family: benton-sans-condensed, sans-serif;
  }

  .archive-link {
    svg {
      margin-left: 5px;
      transition: all 0.4s ease-out;
    }

    &:hover svg {
      margin-left: 10px;
    }
  }
}
//Landmark Card
.landmark-card {
  @apply flex my-8 relative;

  .bg-image {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 60%;
    z-index: 10;
  }

  .card {
    @apply text-center bg-white;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 20;
    width: 100%;
  }

  p {
    margin: 10px auto 30px;
    font-size: 1.25em;
  }

  .archive-link {
    @apply text-black underline;

    font-family: benton-sans-condensed, sans-serif;
  }
}

//NewsCard
.news-card {
  @apply mb-5 items-stretch;

  background: white;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  p {
    @apply text-lg text-grey-darker font-normal mb-10;
  }

  .card-image {
    display: block;
    overflow: hidden;
    line-height: 0;
  }

  .card-content {
    @apply p-8 mb-10;
  }

  .btn {
    bottom: 1.5rem;
    left: 1.5rem;
    margin: 0;
  }
}

//search card {
.search-card {
  @apply w-full bg-grey-lightest mb-10 flex flex-wrap;

  flex-direction: column-reverse;

  img.wp-post-image {
    margin: 0;
    width: 100%;
  }

  .search-card_content {
    @apply p-5;
  }
}

//image-repeater
.image-repeater {
  text-align: center;
  list-style: none;

  li {
    vertical-align: middle;
    display: inline-block;
    max-width: 265px;
    padding: 15px 0;
  }

  img {
    max-height: 130px;
    padding: 0 20px;
  }
}

.success-box {
  h3 {
    @apply text-4xl font-bold;
  }

  img {
    transition: all 0.4s ease-out;
    display: block;
  }

  .btn {
    text-align: center;
    min-width: 240px;
    padding: 20px 10px;
  }

  .box-image {
    order: -1;
    overflow: hidden;

    a {
      display: block;
      overflow: hidden;
    }
  }

  .archive-link {
    @apply text-black inline-block underline uppercase;

    font-family: benton-sans-condensed, sans-serif;
    font-weight: bold;
    letter-spacing: 0.04em;

    &:hover {
      @apply border-none;
    }
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}

.event-card {
  .box-image {
    order: -1;
    overflow: hidden;

    a {
      display: block;
      overflow: hidden;
      line-height: 0;

      img {
        transition: all 0.4s;
      }
    }
  }
}

.archive,
.blog {
  .news-card {
    @apply bg-grey-lightest;

    width: 100%;

    .categories a {
      @apply text-black;

      font-weight: bold;
    }
  }

  .widget_ssba_widget {
    display: none;
  }
}

.center-btn {
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

#staffFunnel,
#supporterFunnel {
  .grow-box {
    display: inline-block;
    overflow: hidden;

    img {
      transition: all 0.4s ease-out;
    }
  }

  &:hover .grow-box img {
    transform: scale(1.05);
  }
}

.trio-box:nth-child(2) {
  .btn {
    animation-delay: 0.25s;
  }
}

.trio-box:nth-child(3) {
  .btn {
    animation-delay: 0.5s;
  }
}
//Responsive
@screen md {
  .success-box {
    .box-image {
      order: 1;
    }
  }

  .search-card {
    flex-direction: row;
    padding: 1.25em;

    .search-card_content {
      @apply p-5;
    }
  }
}

@screen lg {
  .event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .box-image {
      order: 1;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  .home .news-card .card-image {
    max-height: 185px;
  }

  .news-card {
    .box-image {
      overflow: hidden;

      a {
        display: block;
        overflow: hidden;
      }
    }
  }

  .landmark-card {
    .bg-image {
      bottom: 0;
    }

    .card {
      width: 480px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .news_section_continued {
    .img-block {
      order: 0;
    }
  }

  .full-section {
    h2 {
      &::before {
        position: absolute;
        top: 50%;
        left: -30px;
        right: -30px;
        content: " ";
        height: 3px;
        background: $primary;
        z-index: 10;
      }

      span {
        @apply px-5;
      }
    }
  }
}

@screen xl {
  .full-section {
    @apply py-16;
  }

  .img-bg {
    min-height: 300px;
  }

  .landmark-card {
    .card {
      width: 550px;
      height: 450px;
    }
  }

  .news-card {
    transition: all 0.4s ease-out;

    img {
      transition: all 0.4s ease-out;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  .home .news-card .card-image {
    max-height: 232px;
  }

  .owl-item {
    .card {
      opacity: 0;
      transition: all 1s;
      transform: translateY(1em);
    }

    &.active {
      .card {
        opacity: 1;
        transition-delay: all 2s;
        transition-duration: all 0;
        transform: translateY(0);
      }
    }
  }
}

@screen xxl {
  .img-bg {
    min-height: 500px;

    h1 {
      font-size: 4em;
    }
  }

  .home .news-card .card-image {
    max-height: 286px;
  }

  .success-box {
    h3 {
      max-width: 66%;
    }
  }
}
